@theme {
  /* Custom variables for font sizes */
  --default: 15px;
  --default-line: 21px;

  --home-heading-small: 28px;
  --home-heading-small-line: 34px;

  --home-heading-large: 48px;
  --home-heading-large-line: 56px;

  --course-details-heading-small: 26px;
  --course-details-heading-small-line: 36px;

  --course-details-heading-large: 36px;
  --course-details-heading-large-line: 44px;
}
